<ion-header>
    <ion-toolbar>
        <div>
            <p>{{publicAnime?.name | uppercase}}</p>
            <p>Episodes: {{publicAnime?.episodes}}</p>
        </div>
        <ion-buttons slot="end">
            <!--Este botón servirá para añadir un anime de la colección de animes públicos a la colección de animes privados-->
            <!--<ion-button (click)="addPrivate()">Añadir a Privado</ion-button>-->
            <ion-button (click)="onDismiss(null)">x</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <img [src]="publicAnime?.foto" />
    <p>{{publicAnime?.description}} {{publicAnime?.name}}</p>
</ion-content>