ion-card {
  align-items: center;
  text-align: center;
}

img {
  border-radius: 15px;
  width: 20vw;
  height: 24vh;  
}

@media screen and (max-width: 600px) {
  .ocultar {
    display: none;
  }
  img.ocultar{
    height: max-content;
  }
}
app-public-anime-detail{
  width: 100vw;
  height: 100vh;
}