ion-card {
  align-items: center;
  text-align: center;
}

img {
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
  .ocultar {
    display: none;
  }
  img.ocultar{
    height: max-content;
  }
}