<ion-accordion-group class="acordeon">
    <ion-accordion value="first"  toggleIcon="caret-down-circle" toggleIconSlot="start">
      <ion-item slot="header" color="light">
        <ion-label>Acción</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Action Animes go here</div>
    </ion-accordion>
    <ion-accordion value="second"  toggleIcon="caret-down-circle" toggleIconSlot="start">
      <ion-item slot="header" color="light">
        <ion-label>Adventure</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Adventure Animes go here</div>
    </ion-accordion>
    <ion-accordion value="third"  toggleIcon="caret-down-circle" toggleIconSlot="start">
      <ion-item slot="header" color="light">
        <ion-label>Shonen</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Shonen Animes go here</div>
    </ion-accordion>
  </ion-accordion-group>