<ion-header>
  <ion-toolbar>
    <div>
      <p>{{privateAnime?.name | uppercase}}</p>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">x</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img [src]="privateAnime?.foto" />
<form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
  <ion-item>
    <ion-label position="floating">
      Anime Name
    </ion-label>
    <ion-input type="text" placeholder="Anime Name Here" formControlName="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Episodes
    </ion-label>
    <ion-input type="text" placeholder="Anime Episodes Here" formControlName="episodes"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Description
    </ion-label>
    <ion-input type="text" placeholder="Anime description Here" formControlName="description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Foto
    </ion-label>
    <ion-input type="text" placeholder="Anime Image Link Here" formControlName="foto"></ion-input>
  </ion-item>
</form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button [disabled]="!form.valid" (click)="onSubmit()">Done</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>