p {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 600px) {
  p {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
  }
}

img {
  min-width: 30%;
}