<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img *ngIf="form.controls['picture']?.value" [src]="form.controls['picture'].value"></ion-img>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        Nombre del Género
      </ion-label>
      <ion-input type="text" placeholder="name" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Private Anime
      </ion-label>
      <ion-input type="number" placeholder="picture" formControlName="picture"></ion-input>
    </ion-item>
    
  </form>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button [disabled]="!form.valid" (click)="onSubmit()">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>