<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="rojo">{{ folder }}</ion-title>
    <ion-buttons slot="end">
      <!--BOTÓN AÑADIR-->
      <ion-button *ngIf="folder =='MyAnimes'" (click)="onNewItem()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-home *ngIf="folder=='Home'"></app-home>
  <app-private-animes *ngIf="folder=='MyAnimes'"></app-private-animes>
  <app-generos *ngIf="folder=='Genres'"></app-generos>
  <app-profile *ngIf="folder=='Profile'"></app-profile>
  <app-about *ngIf="folder=='About'"></app-about>

</ion-content>