ion-card {
  align-items: center;
  text-align: center;
}

img {
  border-radius: 15px;
  width: 20vw;
  height: 24vh;  
}

@media screen and (max-width: 600px) {
  .ocultar {
    display: none;
  }
  img.ocultar{
    height: max-content;
  }
}

.rojo{
  color:rgb(255, 90, 90)
}