ion-card {
  align-items: center;
  text-align: center;
  height: 40vh;
}

img {
  border-radius: 15px;
  margin-top: 15px;
  width: 20vw;
  height: 20vh;  
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .ocultar {
    display: none;
  }
  
  ion-card{
    align-items: center;
    height: 25vh;
    width: 45vw;
  }
  img{
    border-radius: 5px;
    margin: 0;
    padding: 0;
    height: 50%;
    width: 100%;
    object-fit: cover;
  }
}

.rojo{
  color:rgb(255, 90, 90)
}