p {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 600px) {
  p {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .carta {
    min-height: 33%;
    max-height: 33%;
    height: 33%;
  }
}

img {
  min-width: 30%;
}

